@font-face {
    font-family: 'Doto';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/doto/v1/t5tJIRMbNJ6TQG7Il_EKPqP9zTnvqqGNcuvLMt1JIphFkeWuyE-T.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body{
    font-family: Doto, serif;
    background-color: rgb(172, 172, 172);
}

.center{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

img.center{
    display: block;
    margin: auto;
}

#prof{
    width: 40rem;
    border-radius: 10%;
}

#profile-header{
    border-radius: 100%;
    width: 5rem;
    height: 5rem
}

#profile-header-main{
    padding: 0.5rem;
}

#header-tags ul{
    list-style-type: none;
    left: 0;
    display: flex;
}

#header-tags{
    right: 0;
    margin-right: 0.55rem;
    /*direction: rtl;*/
}

#header-tags ul li{
    display: inline;
    margin-right: 5rem;
}

.header-tag-a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.header-tag-logo{
    width: 2.5rem;
    height: 2.5rem;
}

#header{
    background-color: rgb(226, 226, 226);
    width: 95%;
    display: flex;
    margin: 1%;
    border-radius: 1.5vw;
    align-self: center;

}
