@font-face {
    font-family: 'Vazirmatn';
    src: url('../Vazirmatn.ttf') format('truetype');
}

*{box-sizing:border-box;margin:0;padding:0;font-family: 'vazirmatn';}

body{
    height:100vh;
    font-family:'Vazirmatn',sans-serif;
}
main{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    padding:20px;
    height:100vh;
    width: 800;
    text-align:center;
}
.schedule-container {
    width: 100%;
}
.row{
    display:flex;
    flex-direction: row-reverse;
    gap:10px;
    width:100%;
    margin-bottom:10px;
}
.lesson-box{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:10px;
    border-radius:15px;
    border:1px solid #FF8300;
    background-color:#fff6df;
    cursor:pointer;
    transition:0.3s;
}
.lesson-box:hover{transform:scale(1.01);}
.lesson-title{font-size:14px;font-weight:bold;text-align:right;}
.lesson-info{font-size:12px;text-align:right;}

footer{
    display:flex;
    flex-direction: row-reverse;
    justify-content:space-between;
    align-items:center;
    width:100%;
    height:50px;
    border-top:1px solid #e0e0e0;
    background:#fff;
    position:fixed;
    bottom:0;
    left:0;
    padding:0 10px;
}

.footer-buttons{
    display: flex;
    gap: 5px;
}

.footer-buttons button{
    width:100px;
    height:37px;
    border-radius:50px;
    border:2px solid #000;
    font-family:'Vazirmatn';
    font-weight:900;
    cursor:pointer;
    background:#151515;
    color:#fff;
}
#prev-btn{background:#fff;color:#151515;}

.cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 100;

}

.cover.active {
    opacity: 1;
    pointer-events: all;
}

.card-container{
    width:280px;
    background:#fff;
    border-radius:20px;
    box-shadow:0 8px 20px rgba(0,0,0,0.2);
    display:flex;
    flex-direction:column;
    transform: scale(0.8) translateY(-20px);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.cover.active .card-container {
    transform: scale(1) translateY(0);
    opacity: 1;
}

.card-header{
    display:flex;
    flex-direction: row-reverse;
    justify-content:space-between;
    align-items:center;
    padding:12px 16px;
    border-bottom:1px solid #eee;
}
.card-header h2{font-size:15px;color:#222;}
.close-card-btn{
    background:none;
    border:none;
    color:#c70101;
    cursor:pointer;
}
.cards-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:10px;
    justify-content:center;
    padding:16px 20px;
}
.card{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    height:60px;
    border-radius:14px;
    border:1px solid #ff9c00;
    background:rgba(255,188,31,0.15);
    cursor:pointer;
    transition:0.25s;
}
.card:hover{transform:scale(1.05);background:rgba(255,188,31,0.25);}
.card h3{font-size:13px;color:#222;margin-bottom:3px;}
.card p{font-size:11px;color:#555;}

@media(max-width:360px){
    .cards-grid{grid-template-columns:1fr;gap:12px;}
}
